# --- OS Files ---
.DS_Store
Thumbs.db

# --- Python & Environment ---
__pycache__/
*.py[cod]
*$py.class
venv/
notebook-env/
.env

# --- Streamlit Local Secrets ---
.streamlit/secrets.toml

# --- Logs & Outputs ---
*.log
automation_logs.log
temp_data/
